.wrap{margin: 35px 10px;}
.wrap .col-lg-6{padding-left: 0;}
.wrap .col-lg-4{border: 1px solid #ccc;padding: 25px 25px 20px;}
.wrap .content{width: auto;margin: 20px -15px;}
.wrap .content .left{float: left;width: 20%;}
.wrap .content .right{float: right;width: 80%;border-left: 1px solid #666;}

/*left*/
.wrap .content .left .item{width: auto;margin: 10px 25px 10px 15px;height: 65px;}
.wrap .content .left .item-hidden{display: none;}
.wrap .content .left .item p{line-height: 20px;font-size: 14px;height: 20px;margin-bottom: 0;cursor: pointer;}
.wrap .content .left .item p a{float: right;color: #666;}
.wrap .content .left .item p a:hover{text-decoration: none;color: #5DD1FD;}
.wrap .content .left .item p span.round{margin-left: 20px;float: right;width: 12px;height: 12px;border-radius: 50%;border: 1px solid #666;background-color: #fff;position: relative;top: 4px;}
.wrap .content .left .item p span.round-solid{margin-left: 20px;float: right;width: 12px;height: 12px;border-radius: 50%;border: 1px solid #666;background-color: #fff;position: relative;top: 4px;}
.wrap .content .left .item p span.round-solid::before{display: block;margin: 1px;content: '';width: 8px;height: 8px;border-radius: 50%;background-color: #666;}
.wrap .content .left .item p span.round-solid-hover{margin-left: 20px;float: right;width: 12px;height: 12px;border-radius: 50%;border: 1px solid #5DD1FD;background-color: #fff;position: relative;top: 4px;}
.wrap .content .left .item p span.round-solid-hover::before{display: block;margin: 1px;content: '';width: 8px;height: 8px;border-radius: 50%;background-color: #5DD1FD;}
.wrap .content .left .item p span.round-hidden{display: none;}
.wrap .content .left .line{float: right;margin: 3px 2px;width: 8px;height:40px;background-color: #fff;border: 1px solid #666;border-radius: 5px;}
.wrap .content .left .line-solid{float: right;margin: 3px 2px;width: 8px;height:40px;background-color: #fff;border: 1px solid #666;border-radius: 5px;}
.wrap .content .left .line-solid::before{display: block;margin: 1px;content: '';width: 4px;height: 36px;border-radius: 5px;background-color: #666;}
.wrap .content .left .line-hidden{display: none;}

/*right*/
.wrap .content .right .item{width: 100%;padding: 30px;background-color: #ccc;}
.wrap .content .right .item:first-child{width: 100%;height: 200px;background-color: #5DD1FD;}
.wrap .content .right .item:last-child{width: 100%;height: 200px;background-color: #000;}